/* COMMON */
img {
    width: 100%;
}

/* BUTTONS */
.ms_btn_red,
.ms_btn_blue,
.ms_btn_black {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #363636;
    border: 1px solid #363636;
    border-radius: 20px;
}

.ms_btn_red {
    color: white;
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
}

.ms_btn_blue {
    color: white;
    background-color: #2d64e6;
    border: 1px solid #2d64e6;
}

/* TEXT */
.ms_title_text_dark,
.ms_title_text {
    font-size: 2.8rem;
    margin: 1rem 0;
    color: white;
}

.ms_title_text_dark {
    color: black;
}

.ms_subtitle_text_dark,
.ms_subtitle_text {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.ms_subtitle_text_dark {
    color: #8f8f8f;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

/* Logo */
.ms_logo {
    text-align: end;
    background-color: black;
}

.ms_logo img {
    padding: 1rem;
    width: 8rem;
}
/* /Logo */

/* Nav */
.ms_nav {
    height: 4rem;
    line-height: 4rem;
}

.ms_nav img {
    width: 4rem;
}

#ms_nav_burger {
    font-size: 2rem;
    padding: 0 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #737373;
}

.ms_nav_extend_dx ul,
.ms_nav_extend_sx ul {
    list-style: none;
    padding: 0;
}

.ms_nav_extend_dx li,
.ms_nav_extend_sx li {
    display: inline-block;
    padding-right: 1rem;
}

.ms_nav_extend_dx li img,
.ms_nav_extend_sx li img{
    width: 10px;
}

.ms_nav_extend_dx a,
.ms_nav_extend_sx a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: .9rem;
}
/* /Nav */
/* /Header */


/* Main */

/* Section 1 */
#ms_sez1 {
    height: 675px;
    margin-top: 129px;
    background-position: center;
    background-image: url(../img/jumbo-bg.png);
}

.ms_logo_returnal {
    padding-top: 17rem;
}

.ms_logo_returnal img {
    width: 60%;
}

/* .ms_text_sez {
    padding-bottom: 3.9rem;
} */
/* /Section 1 */

/* Section 2 */
#ms_sez2 {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.ms_img_game_container {
    overflow: hidden;
    border-radius: 10px;
}
/* /Section 2 */

/* Section 3 */
#ms_blue_text {
    margin-top: 7rem;
    color: #1e82d4;
}
/* /Section 3 */

/* Section 4 */
#ms_sez4 {
    padding-bottom: 4rem;
    background-position: center;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.ms_logo_it-takes-two {
    padding-top: 5rem;
}

.ms_logo_it-takes-two img {
    width: 70%;
}
/* /Section 4 */

/* Section 5 */
#ms_sez5 {
    background-color: #1f1f1f;
    padding-bottom: 4rem;
}

#ms_nuove_uscite {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: white;
}

#ms_ps4_ps5 {
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
}

.ms_img_new-exit_card img {
    border-radius: 10px;
}

.ms_p_new-exit_card {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
/* /Section 5 */

/* Section 6 */
#ms_sez6 {
    padding-top: 3rem;
    padding-bottom: 5rem;
}
/* /Section 6 */

/* Section 7 */
#ms_sez7 {
    
}
/* /Section 7 */

/* /Main */